<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="Friends With Words!">
    <meta property="og:url" content="https://bit.ly/dlonames">
    <meta property="og:description" content="Let's have a jolly good time.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://i.kym-cdn.com/entries/icons/original/000/027/475/Screen_Shot_2018-10-25_at_11.02.15_AM.png">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <title>Be good at word</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Start New Game</h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('lobby') }}">
          <label for="name">Name:</label>
          <input type="text" pattern="[a-zA-Z0-9_-]{1,10}" name="name" title="Alphanumeric characters only" required><br />
          <input class="actionButton" type="submit">
        </form>
      </div>
    </div>
    <div id="container">
      <div class="pagetitle">
        <h1>Join Game</h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('lobby') }}">
          <div class="nameField">
            <label for="name">Name:</label>
            <input type="text" name="name" pattern="[a-zA-Z0-9_-]{1,10}" title="Alphanumeric characters only" required><br />
          </div>
          <label for="gameId">Game ID:</label>
          <input type="text" pattern="[a-zA-Z0-9_-]{1,10}" name="gameId" title="Alphanumeric characters only" required><br />
          <input class="actionButton" type="submit">
        </form>
      </div>
    </div>
  </body>
</html>